{{define "signin.content"}}
<!-- {{template "navbar.content" .}} -->
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are 30 seconds away from earning your own money!</p>
            <input type="submit" name="" value="Register"/><br/>
        </div>
        <div class="col-md-9 register-right">
             <h3 class="register-heading">Log In</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="" placeholder="UserName *" value="">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" />
                            </div> 
                            <div>
                                <input type="submit" class="btnRegister"  value="Log In"/>
                            </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{{end}}
